<!DOCTYPE html>
<html lang="en">
 

  <body>
<h1 class= "grid-2">Welcome to SeeMePly</h1>
    <%= link_to "Search Schools", schools_path %>
    <%= link_to "View Application Status", schools_path %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <%= yield %>
  </body>

</html>
