
<div class="row">
	<div class="panel">
		<div class="panel-heading">
			<h1>Edit Your School</h1>
		</div>
		<div class="panel-body">
			<div class="current_image">
				<strong style="align:center;">
				<%= image_tag @school.image.url(:medium) %>
			</strong>
<%= render 'form' %>
</div></div>
<%= link_to 'Show', @school %> |
<%= link_to 'Back', schools_path %>
</div>
</div>